<html>

<head>

    <script>var True=true;</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/styles/theme.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/bag.css">
    <!-- crypto-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.2.0/aes.min.js"></script>
    <!-- Testing script end-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="../static/scripts/theme.js"></script>
    <script src="../static/scripts/home.js"></script>
    <script src="../static/scripts/bag.js"></script>
</head>

<body>

    <div id="loader"></div>


    <!-- bag info table -->
    <table class="baginfotable">
        <tr>
            <td colspan="2">
                <div class="card" style="height: 370px"><img class="bagimg" src="{{obj.img}}" /></div>
            </td>

            <td rowspan="2">
                <div class="card" style="height: 500px">
                    <table>
                        <tr>
                            <td colspan="2">
                                <h1>{{obj.name}}</h1>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <h2>Rs: {{obj.price}}</h2>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h3>30 Day Return Policy <br> Cash On Delivery</h3>
                            </td>
                            <td>
                                <h3>Usually delivers in 3-4 days</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h3>Seller: Shree Datta Bags Industry</h3>
                            </td>
                            <td>
                                <h3>Brand: {{obj.brand}}</h3>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="card" style="height: 100px">
                    <table>
                        <tr>
                            <td>
                                <center><a style="color: white;" class="btn btn-success" href="javascript:addToCart({{obj}},{{obj.objectID}});">Add To Cart</a></center>
                            </td>
                            <td>
                                <center><a style="color: white;" class="btn btn-primary" href="javascript:addToCartAndCheckout({{obj}},{{obj.objectID}});">Buy Now</a></center>
                            </td>
                        </tr>

                    </table>

                </div>
            </td>
        </tr>
    </table>

    <!--Related Bags-->

    <h1 style="text-align: center; margin-top:50px;">Similar Items</h1>

    <div class="card-deck bags">
        {% for x in cards %}
        <div class="card bag">
            <img class="card-img-top bagimg" src="{{x.img}}" alt="Card image">
            <div class="card-body d-flex flex-column">
                <h4 class="card-title">{{x.name}}</h4>
                <p class="card-text">Rs {{x.price}}</p>
                <a href="../bag/?id={{x.objectID}}" class="btn btn-primary mt-auto">Buy Now</a>
            </div>
        </div>
        {% endfor %}
    </div>

    <!--Top header-->

    <div id="header">
        <img id="logo" src="../static/icons/logo.png">
        <div id="topmenu">
            <div id="dropdown">
                <a class="menuoption dropbtn" id="accountoption"
                    href="javascript:showLoginForm();"><b>Login/SignUp</b></a>
                <div class="dropdown-content">
                    <a href="account">Account</a>
                    <a href="myorders">My Orders</a>
                    <a href="javascript:logout();">Logout</a>
                </div>
            </div>
            <a class="menuoption" id="checkout_btn" href="../checkout"><b>Cart</b></a>
        </div>
        <div id="searchdiv">
            <form action="search" id="searchform">
                <input id="searchinput" name="query" placeholder="Search for bags">
                <a href="#">
                    <img id="whitesearchicon" onclick="$( '#searchform' ).submit()" src="../static/icons/search.png">
                </a>
            </form>
        </div>
    </div>

    <!--Login work here-->

    <div id="logindiv">
        <div class="card logincard">
            <div id="firstpart">
                <img class="logincross" src="../static/icons/cross.svg" onclick="closeLoginForm()">
                <img class="loginlogo" src="../static/icons/logo.png">

                <form class="loginform" id="loginform" align="center" onsubmit="return false">
                    <h4>Welcome Back :)</h4>
                    <p> To keep connected with us please login with your personal information by email and password</p>
                    <ul class="list-group">
                        <li class="list-group-item active">
                            <h6>Email</h6>
                            <input id="emailin" type="email" class="form-control" placeholder="joe@email.com">
                        </li>

                        <li class="list-group-item">
                            <h6>Password</h6>
                            <input id="passin" type="password" class="form-control" placeholder="Enter your password">
                        </li>

                        <li class="list-group-item" id="confirmpass">
                            <h6>Confirm Password</h6>
                            <input id="cpassin" type="password" class="form-control" placeholder="Enter your password">
                        </li>
                    </ul>

                    <br>

                    <div class="checkbox">
                        <h6 class="remb"> <input class="checkbox" type="checkbox"> Remember me</h6>
                    </div>

                    <a href="#" class="forgot">forgot password?</a>
                    <br><br>
                    <input type="submit" id="loginbtn" class="btn btn-primary" onclick="return login();"
                        value="Login Now">
                    <input type="submit" id="signupbtn" onclick="showSignUp()" class="btn" value="Create Account">
                </form>

                <img class="sideimg" src="../static/imgs/sideimg.jpg">
            </div>

            <div id="secondpart">
                <form onsubmit="return false">
                    <h3>Profile Details</h3>
                    <br>
                    <div class="form-group">
                        <label for="fname">First Name:</label>
                        <input type="text" class="form-control" id="fname">
                    </div>
                    <div class="form-group">
                        <label for="lname">Last Name:</label>
                        <input type="text" class="form-control" id="lname">
                    </div>
                    <div class="form-group">
                        <label for="mnum">Mobile No:</label>
                        <input type="number" class="form-control" id="mnum">
                    </div>
                    <div class="form-group">
                        <label for="address">Address:</label>
                        <textarea class="form-control" id="address"></textarea>
                    </div>
                    <br><br>
                    <a id="submitbtn" class="btn btn-primary" href="javascript:submit();">Submit</a>

                </form>
            </div>
        </div>
    </div>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.8.1/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
             https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.8.1/firebase-analytics.js"></script>

    <!-- All Firebase SDKs-->
    <!-- Add the entire Firebase JavaScript SDK -->
    <script src="https://www.gstatic.com/firebasejs/7.8.0/firebase.js"></script>

    <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyCITuIJ7DmCHOAS5n6d-0ahkUjJXRkEN1c",
            authDomain: "bagshopi.firebaseapp.com",
            databaseURL: "https://bagshopi.firebaseio.com",
            projectId: "bagshopi",
            storageBucket: "bagshopi.appspot.com",
            messagingSenderId: "356246138205",
            appId: "1:356246138205:web:30cb41e185af8a729d4cb4",
            measurementId: "G-3F90KW4J8F"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        firebase.analytics();

        // Get a reference to the database service
        var database = firebase.database();


        //check previous user login from session
        if (sessionStorage.getItem("uid") != null) {

            database.ref('/users/' + sessionStorage.getItem("uid")).once('value').then(function (snapshot) {
                var fname = snapshot.val().fname;
                var lname = snapshot.val().lname;

                var accountoption = document.getElementById("accountoption");
                accountoption.href = "javascript:alert('still in developement')";
                accountoption.innerHTML = "<b>" + fname + " " + lname + "</b>";

                document.getElementById("dropdown").className = "dropdown";
                $("#loader").remove();
            });
        }
        else
            $("#loader").remove();
    </script>
</body>

</html>