<html>

<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/styles/theme.css">
    <!-- crypto-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.2.0/aes.min.js"></script>
    <!-- Testing script end-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="../static/scripts/theme.js"></script>
    <script src="../static/scripts/home.js"></script>
</head>

<body>

    <div id="loader"></div>

    <!--Sliding images coursole-->

    <div class="container">
        <h2>Our Top Brands</h2>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <center>
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="../static/imgs/topbrands/1.jpeg" alt="Los Angeles" style="width:80%;">
                    </div>

                    <div class="item">
                        <img src="../static/imgs/topbrands/2.jpeg" alt="Chicago" style="width:80%;">
                    </div>

                    <div class="item">
                        <img src="../static/imgs/topbrands/3.jpeg" alt="New york" style="width:80%;">
                    </div>

                    <div class="item">
                        <img src="../static/imgs/topbrands/4.jpeg" alt="Chicago" style="width:80%;">
                    </div>

                    <div class="item">
                        <img src="../static/imgs/topbrands/5.jpeg" alt="Chicago" style="width:80%;">
                    </div>

                    <div class="item">
                        <img src="../static/imgs/topbrands/6.jpeg" alt="Chicago" style="width:80%;">
                    </div>

                    <div class="item">
                        <img src="../static/imgs/topbrands/7.jpeg" alt="Chicago" style="width:80%;">
                    </div>
                </div>
            </center>


            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <!--Bags-->

    <div class="card-deck bags">
        {% for x in cards %}
        <div class="card bag">
                <img class="card-img-top bagimg" src="{{x.img}}" alt="Card image">
                <div class="card-body d-flex flex-column">
                    <h4 class="card-title">{{x.name}}</h4>
                    <p class="card-text">Rs {{x.price}}</p>
                    <a href="../bag/?id={{x.objectID}}" class="btn btn-primary mt-auto">Buy Now</a>
                </div>
            </div>        
        {% endfor %}
    </div>

    <!--Top header-->

    <div id="header">
        <img id="logo" src="../static/icons/logo.png">
        <div id="topmenu">
            <div id="dropdown">
                <a class="menuoption dropbtn" id="accountoption"
                    href="javascript:showLoginForm();"><b>Login/SignUp</b></a>
                <div class="dropdown-content">
                    <a href="../account">Account</a>
                    <a href="../myorders">My Orders</a>
                    <a href="javascript:logout();">Logout</a>
                </div>
            </div>
            <a class="menuoption" id="checkout_btn" href="../checkout"><b>Cart</b></a>
        </div>
        <div id="searchdiv">
            <form action="../search" id="searchform">
            <input id="searchinput" name="query" placeholder="Search for bags">
            <a href="#">
                <img id="whitesearchicon" onclick="$( '#searchform' ).submit()" src="../static/icons/search.png">
            </a>
            </form>
        </div>
    </div>

    <!--Login work here-->

    <div id="logindiv">
        <div class="card logincard">
            <div id="firstpart">
                <img class="logincross" src="../static/icons/cross.svg" onclick="closeLoginForm()">
                <img class="loginlogo" src="../static/icons/logo.png">

                <form class="loginform" id="loginform" align="center" onsubmit="return false">
                    <h4>Welcome Back :)</h4>
                    <p> To keep connected with us please login with your personal information by email and password</p>
                    <ul class="list-group">
                        <li class="list-group-item active">
                            <h6>Email</h6>
                            <input id="emailin" type="email" class="form-control" placeholder="joe@email.com">
                        </li>

                        <li class="list-group-item">
                            <h6>Password</h6>
                            <input id="passin" type="password" class="form-control" placeholder="Enter your password">
                        </li>

                        <li class="list-group-item" id="confirmpass">
                            <h6>Confirm Password</h6>
                            <input id="cpassin" type="password" class="form-control" placeholder="Enter your password">
                        </li>
                    </ul>

                    <br>

                    <div class="checkbox">
                        <h6 class="remb"> <input class="checkbox" type="checkbox"> Remember me</h6>
                    </div>

                    <a href="#" class="forgot">forgot password?</a>
                    <br><br>
                    <input type="submit" id="loginbtn" class="btn btn-primary" onclick="return login();"
                        value="Login Now">
                    <input type="submit" id="signupbtn" onclick="showSignUp()" class="btn" value="Create Account">
                </form>

                <img class="sideimg" src="../static/imgs/sideimg.jpg">
            </div>

            <div id="secondpart">
                <form onsubmit="return false">
                    <h3>Profile Details</h3>
                    <br>
                    <div class="form-group">
                        <label for="fname">First Name:</label>
                        <input type="text" class="form-control" id="fname">
                    </div>
                    <div class="form-group">
                        <label for="lname">Last Name:</label>
                        <input type="text" class="form-control" id="lname">
                    </div>
                    <div class="form-group">
                        <label for="mnum">Mobile No:</label>
                        <input type="number" class="form-control" id="mnum">
                    </div>
                    <div class="form-group">
                        <label for="address">Address:</label>
                        <textarea class="form-control" id="address"></textarea>
                    </div>
                    <br><br>
                    <a id="submitbtn" class="btn btn-primary" href="javascript:submit();">Submit</a>

                </form>
            </div>
        </div>
    </div>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.8.1/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
             https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.8.1/firebase-analytics.js"></script>

    <!-- All Firebase SDKs-->
    <!-- Add the entire Firebase JavaScript SDK -->
    <script src="https://www.gstatic.com/firebasejs/7.8.0/firebase.js"></script>

    <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyCITuIJ7DmCHOAS5n6d-0ahkUjJXRkEN1c",
            authDomain: "bagshopi.firebaseapp.com",
            databaseURL: "https://bagshopi.firebaseio.com",
            projectId: "bagshopi",
            storageBucket: "bagshopi.appspot.com",
            messagingSenderId: "356246138205",
            appId: "1:356246138205:web:30cb41e185af8a729d4cb4",
            measurementId: "G-3F90KW4J8F"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        firebase.analytics();

        // Get a reference to the database service
        var database = firebase.database();

        //sets total items in cart checkout_btn
        var cart=JSON.parse(sessionStorage.getItem("cart"));
        if(cart!=null)
            $("#checkout_btn b").text("Cart ("+Object.keys(cart).length+")");

        //check previous user login from session
        if (sessionStorage.getItem("uid") != null) {

            database.ref('/users/' + sessionStorage.getItem("uid")).once('value').then(function (snapshot) {
                var fname = snapshot.val().fname;
                var lname = snapshot.val().lname;

                var accountoption = document.getElementById("accountoption");
                accountoption.href = "javascript:alert('still in developement')";
                accountoption.innerHTML = "<b>" + fname + " " + lname + "</b>";

                document.getElementById("dropdown").className = "dropdown";
                $("#loader").remove();
            });
        }
        else
            $("#loader").remove();
    </script>
</body>

</html>