.top_header{
    display: inline-block;
    color: white;
    margin-left: 20px;
}

.verifypass{
    position: absolute;
    left: 50%;
    margin-left: -25%;
    top: 0;
    width: 50%;
    padding: 10%;
    display: none;
}

.verifypass img {
    width: 300px;
}

.verifypass input{
    width: 200px;
}

.verifypass a{
    color: white;
}

table{
    margin: auto;
}

th{
    margin: 20px;
    padding: 10px;
}

td{
    margin: 20px;
    padding: 10px;
}